.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.symbol {
    margin: 0px;
    font-size: 45px;
}

h1 {
    text-align: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border: 3px solid hotpink;
    border-radius: 5px;
}